/*? Landing Page */
/* * {
  box-sizing: border-box;
} */
.header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  box-sizing: border-box;
  color: white;
  /* padding-top: 19px; */
  margin-left: 12px;
  margin-right: 12px;
  align-items: center;
  /* margin: 9px; */
    /* height: 50px; */
}


/*? Landing Page */
