@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


/*? Landing Page */
.landingPage {
  background: 
  linear-gradient(180deg, #010101 0%, rgba(84, 84, 84, 0) 35.02%),
    url(../assets/landingPage2.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.bigTitle{
    font-family: 'EB Garamond', serif;
}

/*? Landing Page */
